<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Attributes</h2>
    </div>
</div>

<section class="widget">
    <table class="table table-striped no-margin sources-table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Required</th>
        </tr>
      </thead>
    
      <tbody>
        <% @attributes.each do |attribute| %>
          <tr>
            <td><%= link_to attribute.label, attribute_path(attribute) %></td>
            <td><%= attribute.type %></td>
            <td><%= attribute.required %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>