<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @participant_type.label %>
</p>

<%= link_to 'Edit', edit_participant_type_path(@participant_type) %> |
<%= link_to 'Back', participant_types_path %>
