<div class="row">
<div class="col-md-12">
    <h2 class="page-title">Participants</h2>

<section class="widget">
<table class="table table-striped no-margin sources-table">
  <thead>
    <tr>
      <th> ID </th>
      <th>Participant Type</th>
      <th>Participant Properties</th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
        <tr>
            <td><%= participant.id %></td>
            <td><%= participant.participant_type_id %></td>
            <td><%= link_to 'Show', participant_participant_properties_path(participant) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</section>

</div>
</div>