<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Participant with ID: <%= @participant.id %></h2>
    </div>
</div>
<section class="widget">
    <p>
      <strong>Participant Type ID:</strong>
      <%= @participant.participant_type_id %>
    </p>
    <p>
        <strong>Participant Type Label:</strong>
        <%= @participant.label %>
    </p>
    <%= link_to 'Add Participant Properties', new_participant_participant_property_path(@participant), class: 'btn btn-primary' %> 
</section>