<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Partcipant</h2>
    </div>
</div>
<section class="widget">
    <p>
      <strong>Participant type:</strong>
      <%= @participant.participant_type_id %>
    </p>
    
    <%= link_to 'Edit', edit_participant_path(@participant) %> |
    <%= link_to 'Back', participants_path %>
</section>