<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Properties</h2>
    </div>
</div>

<section class="widget">
    <table class="table table-striped no-margin sources-table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Required</th>
        </tr>
      </thead>
    
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= link_to property.label, property_path(property) %></td>
            <td><%= property.type_of %></td>
            <td><%= property.required %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>