<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Property Label: <%= @property.label %></h2>
    </div>
</div>
<section class="widget">
<table class="table table-striped no-margin sources-table">
    <thead>
        <tr>
          <th>Property Name </th>
          <th>Property Value </th>
        </tr>
    </thead> 
    <tbody>
        <% @property.attributes.each do |column_name, column_value| %>
            <tr>
                <td><%= column_name %></td>
                <td><%= column_value %></td>
            </tr>
        <% end %>
    </tbody>   
</table>

<%= link_to 'Edit Property', edit_property_path(@property), class: 'btn btn-primary' %> 
</section>